.wrapperRightSide{
    height: 100vh;
    width: calc(100% - 350px);
    position: relative;
    background-color: #F7ECDC;
}
.images{
    text-align: center;
    margin-top: 100px;
}
.images img{
    width: 500px;
    height: 300px;
}
.footer img{
    height: 30px;
    width: 25px;
    margin-right: 10px;
}
.footer{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    justify-content: center;
    bottom: 20px;
}
